Q1. Create one variable containing following type of data:
 (i) string -

In [1]:
s="sachin"

(ii) list

In [2]:
r=[4,"sachin",3.2]

(iii) float

In [3]:
k=8.42

(iv) tuple

In [6]:
t=("sachin","Bhandari")

Q2. Given are some following variables containing data:
ans- string , list , num

Q3. Explain the use of the following operators using an example:
(i) / - give quotient of two numbers upto decimal places ex- 3/3=1.0
(ii) % - give reminder of two numbers ex-3%2=1
(iii) //- give quotient but only integer places ex-3/3=1
(iv) ** - it is used for calculating exponential of one on another number ex-3**3=27

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [1]:
l=[1,"sach","machine",98.6,4,9,"power","jorden",23,"like"]
for i in l:
    print(i)
    print (type(i))

1
<class 'int'>
sach
<class 'str'>
machine
<class 'str'>
98.6
<class 'float'>
4
<class 'int'>
9
<class 'int'>
power
<class 'str'>
jorden
<class 'str'>
23
<class 'int'>
like
<class 'str'>

Q5.  Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [20]:
a=int(input())
b=int(input())
c=0
if (a/b==0:
    while(a/b>=b and type(a/b)==int):
        c+=1
        a/=b
    c
else:
    print("not divisible")

 9
 3

not divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [11]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
l1=[]
l2=[]
for i in l:
    if i%3==0:
        l1.append(i)
    else:
            l2.append(i)
l1

[3, 6, 9, 12, 15, 18, 21, 24]

In [12]:
l2

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable -the function whose items are changeable. Ex- list
Immutable -the function whose list aren't changeable. Ex- tuple , string

In [13]:
f=[1,2,3,4]

In [15]:
f[0]=2
f

[2, 2, 3, 4]

above we can see that the list item is changeable

In [16]:
f=(1,2,3,4)

above we can see that its show error , so thatswhy tuple is immutable.